/* MEIDA QUERIES PER PROGETTO "esempio1" */

/* LG - SMALL LAPTOPS: 1024px - 1280px */

@media (max-width: 72rem) {
  /* 1150px / 16px = 72rem */
  /* 72rem  x 16px = 1152px*/

  html {
    font-size: 56.25%;
    /* 9px / 16px = 56.25% */
  }

  .servizi-grid-container {
    column-gap: 2.5rem;
  }

  .cta-section {
    margin-bottom: 30rem;
  }
}

/* MD - TABLETS: 768px - 1024px */

@media (max-width: 51rem) {
  /* 815px / 16px = 51rem */
  /* 51rem x 16px = 816px */

  html {
    font-size: 50%;
    /* 8px / 16px = 50% */
  }
}

/* SM - PHONE LANDSCAPE: 576px - 768px */

@media (max-width: 43rem) {
  /* 680px / 16px = 43rem */
  /*43rem x 16px = 688px */

  html {
    font-size: 43.75%;
    /* 7px / 16px = 43.75% */
  }

  .cta-card {
    padding: 8rem 16rem;
  }

  .servizi-section {
    margin-bottom: 20rem;
  }

  .servizi-grid-container {
    row-gap: 5rem;
    column-gap: 0.5rem;
  }
}

/* XS - PHONE PORTRAINT: < 576px*/

@media (max-width: 34rem) {
  /* 530px / 16px = 34rem */
  /* 34rem x 16px = 544px */

  html {
    font-size: 37.5%;
    /* 6px / 16px = 37.5% */
  }

  .hero-heading-break {
    display: none;
  }

  .hero-section {
    height: auto;
  }

  .servizi-grid-container {
    grid-template-columns: 1fr;
  }

  .servizio-img-swap-order {
    grid-row: auto;
    grid-column: auto;
  }

  .cta-card {
    padding: 8rem 6rem;
  }
}