/* FOGLIO STILE PER PROGETTO "esempio1" */

/*

-------------------- TYPOGRAPHY --------------------

FONT SIZES:
12px / 16px/ 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHTS:
400 / 700

LINE HEIGHTS:
1.2 / 1.5

LETTER SPACING:
0 / -2px

FONT FAMILY:
Poppins

-------------------- COLORS --------------------

PRIMARY
Base: #339af0
Tint: #d0ebff
Shade: #1c7ed6

SECONDARY
Base: #9775fa
Tint: #e5dbff
Shade: #7048e8

TERTIARY
Base: #ff922b
Tint: #ffe8cc
Shade: #f76707

GREY
Base: #495057
Tint: #f1f3f5
Shade: #212529
White: #ffffff
Black: #000000

-------------------- BORDER RADIUS --------------------

4px / 8px / 20px

-------------------- SPACING SYSTEM --------------------

5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px

*/

/* -------------------- GLOBAL STYLES -------------------- */

:root {
  /* FONT SIZE */
  --text-xs: 1.2rem;
  --text-sm: 1.4rem;
  --text-base: 1.6rem;
  --text-paragraph: 2rem;
  --text-h5: 2.4rem;
  --text-h4: 3.2rem;
  --text-h3: 4rem;
  --text-h2: 4.8rem;
  --text-h1: 6.2rem;

  /* FONT WEIGHT */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* LINE HEIGHTS */
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;

  /* LETTER SPACING */
  --letter-spacing-tight: -2px;

  /* FONT FAMILY */
  --font-family: "Poppins", sans-serif;

  /* COLORS */
  --primary-base: #3092e4;
  --primary-tint: #d0ebff;
  --primary-shade: #1b78cb;
  --secondary-base: #8f6fee;
  --secondary-tint: #e5dbff;
  --secondary-shade: #6a44dc;
  --tertiary-base: #f27825;
  --tertiary-tint: #ffe8cc;
  --tertiary-shade: #ff5e00;
  --alternative-tertiary-shade: #f2a519;
  --grey-base: #43484d;
  --grey-tint: #f1f3f5;
  --grey-shade: #111317;
  --navbar-bg: #e9e9e9;
  --hero-bg: #d7e6e6;
  --white: #ffffff;
  --black: #000000;
  --green: #228b22;
  --red: #b62d2d;

  /* MISCELLANEOUS */
  --nav-height: 100px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--grey-base);
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-tight);
  color: var(--grey-shade);
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}

h4 {
  font-size: var(--text-h4);
}

h5 {
  font-size: var(--text-h5);
}

p {
  font-size: var(--text-paragraph);
}

a {
  text-decoration: none;
  font-size: var(--text-base);
  display: inline-block;
}

a:link,
a:visited {
  color: var(--grey-base);
}

a:hover,
a:active {
  color: var(--grey-shade);
}

/* BOTTOM EXTERNAL LINKS */
.a-bottom {
  font-weight: bold;
  text-decoration: underline;
}

ul {
  list-style: none;
}

span {
  display: inline-block;
}

.small-text {
  font-size: var(--text-sm);
}

.extra-small-text {
  font-size: var(--text-xs);
}

/* -------------------- COMPONENTS -------------------- */

.btn {
  font-weight: var(--font-weight-normal);
  font-size: var(--text-base);
  text-decoration: none;
  padding: 1.5rem 3rem;
  border-radius: 8px;
}

.btn-primary:link,
.btn-primary:visited {
  background-color: var(--primary-base);
  color: var(--white);
  border: 2px solid var(--primary-base);
  transition: 0.2s;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--primary-shade);
  color: var(--white);
  border: 2px solid var(--primary-shade);
  box-shadow: 0px 4px 8px 0px var(--grey-base);
}

.btn-primary-outline:link,
.btn-primary-outline:visited {
  background-color: var(--white);
  color: var(--primary-base);
  border: 2px solid var(--primary-base);
  transition: 0.2s;
}

.btn-primary-outline:hover,
.btn-primary-outline:active {
  background-color: var(--white);
  color: var(--primary-shade);
  border: 2px solid var(--primary-shade);
  box-shadow: 0px 4px 8px 0px var(--grey-base);
}

.btn-secondary:link,
.btn-secondary:visited {
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--white);
  transition: 0.2s;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: var(--secondary-shade);
  color: var(--white);
  border: 2px solid var(--secondary-shade);
  transform: scale(1.2);
  box-shadow: 0px 4px 8px 0px var(--grey-base);
}

.btn-tertiary:link,
.btn-tertiary:visited {
  background-color: var(--tertiary-shade);
  color: var(--grey-tint);
  border: 2px solid var(--tertiary-shade);
  transition: 0.2s;
}

.btn-tertiary:hover,
.btn-tertiary:active {
  background-color: var(--tertiary-base);
  color: var(--grey-tint);
  border: 2px solid var(--tertiary-base);
  box-shadow: 0px 4px 8px 0px var(--grey-base);
}

.btn-quartiary:link,
.btn-quartiary:visited {
  background-color: var(--grey-base);
  color: var(--white);
  border: 2px solid var(--grey-base);
  transition: 0.2s;
}

.btn-quartiary:hover,
.btn-quartiary:active {
  background-color: var(--grey-shade);
  color: var(--white);
  border: 2px solid var(--grey-shade);
  box-shadow: 0px 4px 8px 0px var(--grey-base);
}

.highlight {
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.highlight-servizi-main-heading {
  background-color: var(--red);
}

.highlight-primary {
  background-color: var(--primary-base);
}

.highlight-secondary {
  background-color: var(--secondary-base);
}

.highlight-tertiary {
  background-color: var(--tertiary-base);
}

.highlight-quartiary {
  background-color: var(--alternative-tertiary-shade);
}

.highlight-quintiary {
  background-color: var(--green);
}

.logo-md {
  width: 85px;
}

.arrow-up-container {
  height: 5rem;
  width: 5rem;
  background-color: var(--primary-tint);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.arrow-up-icon {
  width: 3.5rem;
  height: 3.5rem;
}

/* -------------------- SECTIONS -------------------- */

/* ---------- NAVBAR SECTION ---------- */

.navbar {
  background: var(--navbar-bg);
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-bottom: 15rem;
}

.nav-btn-container {
  display: flex;
  gap: 1rem;
}

/* ---------- HERO SECTION ---------- */

.hero-section {
  background-color: var(--hero-bg);
  border-radius: 10px;
  height: calc(100vh - var(--nav-height));
  min-height: 400px;
  margin-bottom: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px;
}

.hero-heading {
  margin-bottom: 1.5rem;
  text-align: center;
}

.hero-paragraph {
  text-align: center;
  margin-bottom: 5rem;
}

.hero-btn-container {
  display: flex;
  gap: 2rem;
}

/* ---------- SERVIZI SECTION ---------- */

.servizi-section {
  margin-bottom: 30rem;
}

.servizi-main-heading {
  text-align: center;
  margin-bottom: 10rem;
}

.servizi-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20rem;
  column-gap: 5rem;
  justify-items: center;
  align-items: center;
}

.servizio-img-swap-order {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.servizio-div {
  background-color: var(--grey-tint);
  padding: 8px;
  border-radius: 5px;
}

.servizio-heading {
  margin-bottom: 2rem;
}

.servizio-img {
  max-width: 400px;
  width: 100%;
}

/* ---------- CTA SECTION ---------- */

.cta-section {
  margin-bottom: 30rem;
  display: flex;
  justify-content: center;
}

.cta-card {
  background: linear-gradient(
    135deg,
    var(--primary-base),
    var(--secondary-base)
  );
  text-align: center;
  max-width: 1000px;
  padding: 10rem 20rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.cta-heading {
  margin-bottom: 3rem;
  color: var(--white);
}

/* ---------- FOOTER SECTION ---------- */

.footer {
  background-color: #e7e7e7;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1.5px solid;
  border-color: #a1a1a1 #a1a1a1;
  border-bottom-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.social-icons-container {
  display: flex;
  gap: 2rem;
}

.footer-links-container {
  display: flex;
  gap: 1.5rem;
}

.footer-links-container-a a {
  position: relative;
  text-decoration: none;
}

.footer-links-container-a a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: var(--black);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease;
}

.footer-links-container-a a:hover::after {
  transform: scaleX(1);
}

.social-icons {
  width: 32px;
}

.social-icons:hover,
.social-icons:active {
  opacity: 0.75;
}
